:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);

  /* CSS HSL */
  --charcoal: hsla(197, 37%, 24%, 1);
  --persian-green: rgb(0, 164, 148);
  --orange-yellow-crayola: hsla(43, 74%, 66%, 1);
  --orange-yellow-crayola-lite: rgb(255, 240, 203);
  --sandy-brown: hsla(27, 87%, 67%, 1);
  --sandy-brown-lite: rgb(253, 229, 209);
  --burnt-sienna: hsla(12, 76%, 61%, 1);
  --burnt-sienna-lite: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

button {
  border-radius: 0.5rem;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--persian-green);
}

button:hover:active {
  transform: translateY(-1px);
  box-shadow: 0 3.5px 6.5px rgba(0, 0, 0, 0.4);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
